* {
    box-sizing: border-box;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

:root {
    --color-fondo: #ddd;
    --color-nav-bar: #fff;
    --color-text: #000;
}

.dark {
    --color-fondo: #333;
    --color-nav-bar: #555;
    --color-text: #ddd;
}

html {
    scroll-behavior: smooth;
}

.bodyindex {
    transition-duration: 1s;
    background-color: var(--color-fondo);
}

.principal, .principalinfo {
    display: flex;
    background-color: var(--color-nav-bar);
    border: 1px solid #aaa;
    box-shadow: #999 0px 8px 24px;
    margin: auto;
    margin-top: 0px;
    width: 90%;
    min-height: 1000px;
    max-width: 1600px;
    justify-content: center;
}

.lateralizquierdo, .lateralizquierdoinfo {
    background-color: #444;
    color: white;
    padding: 0px;
    height: auto;
    width: auto;
    max-width: 400px;
    margin: 0;
    
}

.lateralderecho, .lateralderechoinfo {
    background-color: var(--color-nav-bar);
    color: var(--color-text);
    margin-top: 50px;
    width: 100%;
}

.menuiframe {
    width: 100%;
    height: 670px;
    border: none;
}

.footeriframe {
    width: 100%;
    height: 350px;
    border: none;
}

img {
    color: rgb(255, 200, 0);
}

.perfil {
    width: 100%;
}

h1 {
    font-size: 50px;
    color: #000;
}

h2 {
    font-size: 40px;
    color: #000;
}

h1, h2 {
    font-weight: bolder;
    text-align: center;
    word-spacing: 20px;
    letter-spacing: 8px;
    margin: 15px;
}

h3 {
    margin-left: 40px;
    margin-top: 70px;
    border-bottom: 3px ridge rgb(255, 200, 0);
    text-shadow: 4px 4px 4px #aaa;
}

.titulo {
    background-color: rgb(255, 200, 0);
    margin-top: 30px;
    padding: 30px;
}

p, li, form {
    margin-left: 40px;
    margin-right: 20px;
    font-size: 20px;
    text-shadow: 2px 2px 3px #aaa;
}

form {
    text-align: center;
    margin: 30px;
}

.boton {
    color: #444;
    background-color: rgb(255, 200, 0);
    font-size: 18px;
    margin: 3px;
    margin-top: 15px;
    border: 1px solid #555;
    border-bottom: 5px solid #555;
    border-right: 5px solid #555;
}

#boton {
    height: 30px;
    text-align: center;
    cursor: pointer;
}

.boton:hover {
    background-color: rgb(155, 100, 0);
    color: white;
    transition-duration: 1s;
}

.boton:active {
    background-color: rgb(105, 50, 0);
    color: rgb(255, 200, 0);
}

textarea, input {
    margin-top: 30px;
    border: 3px ridge rgb(255, 200, 0);
}

ul, li {
    text-align: center;
    list-style: none;
    margin: 10px;
}

a {
    color: rgb(155, 155, 255);
}

footer {
    text-align: center;
    vertical-align: middle;
    justify-content: center;
}

.none {
    display: none;
}

/*Barra Navegadora */

nav {
    display: flex;
    width: 100%;
    background-color: var(--color-nav-bar);
    height: 80px;
    box-shadow: #777 0px 8px 24px;
    border: 2px ridge rgb(255, 200, 0) ;
    margin-bottom: 50px;
    position: sticky;
    top: 0;
    overflow: hidden;
}

nav a {
    font-size: 24px;
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    color: var(--color-text);
    transition: 2s ease-in-out all;
    font-weight: bold;
}

#navbotones {
    margin-top: 70px;
    justify-content: space-around;
}

nav a:hover {
    background-color: rgb(255, 200, 0);
    transition-duration: .5s;
    transform: scale(1.1);
}

nav a:active {
    background-color: rgb(155, 100, 0);
}

/*Media Queries*/

@media only screen and (max-width: 800px){
    nav a {
        font-size: 20px;
    }

    .principalinfo {
        max-width: 80vh;
        width: 80vh;
    }
}


@media only screen and (max-width: 660px) {

    .principal {
        display: block;
        width: fit-content;
    }

    .lateralizquierdo {
        display: flex;
        max-width: 100vh;
        width: 100%;
    }

    .contacto {
        display: none;
    }

    .perfil {
        width: 50%;
    }

    .lateralderecho {
        width: fit-content;
    }

    nav {
        font-size: 16px;
        display: contents;
    }

    nav a {
        flex: 0;
        margin: 5px;
        border: 3px ridge rgb(255, 200, 0);
        margin-bottom: 7px;
    }
}